
:root {
    --primary-color: #001E24;
    --secondary-color: #0E809B;
    --accent-1: #78AEBA;
    --accent-2: #CFD1D1;
    --accent-3: #EBEBEB;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

h2 {
    color: var(--secondary-color);
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    margin: 1rem 0px;
}

p {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.topnav {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}

.topnav nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

.topnav nav a {
    background-color: var(--accent-1);
    padding: 10px;
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.topnav nav a:hover {
    background-color: var(--accent-2);
}

.topnav h1 {
    color: var(--accent-2);
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5em;
    grid-column: 2 / 3;
    text-align: left;
    padding-left: 20px;
}

.topnav img {
    width: 120px;
    height: auto;
    grid-column: 1 / 2;
}

footer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    width: 100%;
    align-items: center;
    background-color: var(--accent-1);
}

footer p {
    text-align: center;
}

.figuresection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to top, var(--primary-color), var(--accent-2));
    border-radius: 10px;
}

.figuresection h2 {
    grid-column: 1 / 6;
    text-align: center;
    color: white;
    font-size: 2em;
}

.figuresection figure {
    margin: 0;
    padding: 0;
}

.figuresection img {
    width: auto;
    max-height: 130px;
}

.figuresection figcaption {
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 0.8em;
    color: var(--primary-color);
}

.history-section {
    padding: 20px;
}

.history-section img {
    width: 100%;
}

.history-section p{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 0.8em;
    color: var(--primary-color);
}

.historysection h2 {
    grid-column: 1 / 4;
    text-align: center;
    color: var(--accent-2);
    font-size: 2em;
    margin: 10px;
}

.historysection p {
    margin: 0px;
    padding: 10px;
}

.hero {
    position: relative; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
  }

.heroimg {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

.hero h1, .hero article {
    position: absolute; 
    color: white; 
    z-index: 2;
}

.hero h1 {
    margin: 0;
    background: linear-gradient(to top, white, var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
    /* text-shadow: 0 0 10px #ffffff, */
        /* Bright outer glow */
        /* 0 0 20px #83dcff,
        0 0 30px #e6f8ff; */
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.05em;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px 2rem;
    height: 80px;
    background-color: var(--accent-1);
    align-items: center;
}

header nav{
    display: flex;
    justify-content: start;
    gap: 3rem;
}

main{
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

main .hero{
    margin: 5px 0px;
    width: 100%;
}


main .hero article{
    background-color: var(--accent-2);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 95%;
}


article p {
    font-size: 1.15em;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}

article img {
    float: right;
    width: 200px;
}

section{
    margin: 1rem auto;
}

section img {
    width: 500px;
}

.adventure .img-gallery{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sociallinks {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.sociallinks img {
    width: 24px;
}

.sociallinks a {
    text-decoration: none;
}